
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Piyumi Kaushalya</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#home">Home</a>
            </li>
           <!--  <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About Me</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- Home = Main Content -->
    <section class="page-header" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 main-content">          	
          	<router-outlet></router-outlet>
          </div>  
          <div class="col-lg-3 profile-info">
		      <div class="card card-profile">
		        <div class="card-header"></div>
		        <div class="card-body text-xs-center">
		          <img class="card-profile-img" src="../assets/img/profile-pic.jpg">
		          <h5 class="card-title">Writer</h5>
		          <p class="mb-4">Piyumi Kaushalya.</p>
		          <ul class="list-inline social-buttons">
		              <li class="list-inline-item">
		                <a href="#">
		                  <i class="fa fa-twitter"></i>
		                </a>
		              </li>
		              <li class="list-inline-item">
		                <a href="#">
		                  <i class="fa fa-facebook"></i>
		                </a>
		              </li>
		              <li class="list-inline-item">
		                <a href="#">
		                  <i class="fa fa-linkedin"></i>
		                </a>
		              </li>
		            </ul><!-- 
		          <button class="btn btn-outline-primary btn-sm">
		            <span class="icon icon-add-user"></span> Follow
		          </button> -->
		        </div>
		      </div>
		      <div class="card card-profile">	
		      	<div class="card-body card-profile">
		      		<ul class="list-group">
					  <a routerLink = "jersey_example" >Jersey REST Example</a>
					  <a routerLink = "test_example" >Test Example</a>
					</ul>
		      	</div>		      		      	
		      </div>
		    </div>              
        </div>       
      </div>
    </section>
    

</body>