<div class="container-fluid">
	<div class="row">
		<div class="col-lg-11 main-content">
			<router-outlet></router-outlet>
		</div>
		<div class="col-lg-1 icon-bar">
		  <a routerLink="home" data-toggle="tooltip" data-placement="left" title="Home Page"><i class="fas fa-home"></i></a> 
		   <a href="https://github.com/piyumi11" target="_blank" data-toggle="tooltip" data-placement="left" title="github">
		  	<i class="fab fa-github-alt"></i>
		  </a>
		  <a href="#" data-toggle="tooltip" data-placement="left" title="twitter"><i class="fab fa-twitter"></i></a> 
		  <a href="#" data-toggle="tooltip" data-placement="left" title="facebook"><i class="fab fa-facebook-f"></i></a> 
		  <a href="#" data-toggle="tooltip" data-placement="left" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
		  <a href="#" data-toggle="tooltip" data-placement="left" title="instagram"><i class="fab fa-instagram"></i></a>	
		</div>
	</div>
</div>
