.main-content {
	padding-top: 50px;
	padding-left: 100px;
	height: auto; 
}
.card-profile-img {
	max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.text-xs-center {
	text-align:center;
}
.card-profile {
	background-color:#156584;
	color: white;
}
.card-header {
	background-color:#104e65;
	height: 100px;
}
.profile-info{
	padding-top: 150px;
    padding-bottom: 100px;
}
.list-group a{
	color: white;
}
.list-group a:hover {
    text-decoration: none;
    color: #104e65;
}
.list-group a:active {
    text-decoration: none;
    color: #104e65;
}
.icon-bar a{
	color: #5d5959;
	display: block;
  	text-align: center;
  	padding-top:10px;
}
.icon-bar {
	padding-top: 50px;
}
.social-buttons button, .github-button  {
	border-color: black;
	background-color: #156584;
	text-decoration: none;
}
