<app-article [data]="articleEleven"></app-article>
<div class="article-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p><a href="https://www.opengl.org" target="_blank">OpenGL</a> is  a cross-language, cross-platform application 
				programming interface (API) for rendering 2D and 3D vector graphics.</p>
				
				<p>This article explains clock implementation using OpenGL libraries.</p>
				
				<div>					
					<pre class="article-code"><code>

	#include&lt;stdlib.h&gt;
	#include&lt;gl\glut.h&gt;
	#includegl\GLU.h&gt;
	#include&lt;gl\GL.h&gt;
	#include&lt;math.h&gt;
	#include&lt;stdio.h&gt;
	#include&lt;windows.h&gt;
	
	float mm = 0.0; // minutes angle
	float hh = 0.0; // hours angle
	float m5 = 0.0; // calculate 5mins
	float degree_6 = 2.0f * 3.1415926f / float(60); // value for degree 6 = 360/60
	float r = 0.9; //radius of the circle
	
	void DrawCircle(float cx, float cy, float r, int num_segments) {{ '{' }}

	    glBegin(GL_LINE_LOOP);
	    glColor3f(1.0,1.0,1.0);
	
	    for (int ii = 0; ii &lt; num_segments; ii++)   {{ '{' }}
	
	        float angle = 2.0f * 3.1415926f * float(ii) / float(num_segments);
	        float x = r * cosf(angle);
	        float y = r * sinf(angle);
	        glVertex2f(x + cx, y + cy);
	    {{ '}' }}
	    glEnd();
	{{ '}' }}
	
void drawHourMarks(float cx, float cy, float r) {{ '{' }}

	glBegin(GL_LINES);
	glColor3f(0.0,0.0,1.0);
	for (int ii = 0; ii &lt; 12; ii++)   {{ '{' }}

		float angle = degree_6 * float(ii) * 5 ;
		float x = 0.8 * cosf(angle);
		float y = 0.8 * sinf(angle);
		glVertex2d(cx + x, cy + y);
		x = r * cosf(angle);
		y = r * sinf(angle);
		glVertex2d(cx + x, cy + y);
	{{ '}' }}

	glEnd();
{{ '}' }}

void drawMinuteMarks(float cx, float cy) {{ '{' }}

	glBegin(GL_LINES);
	glColor3f(1.0,1.0,1.0);

	for (int ii = 0; ii &lt; 60; ii++)   {{ '{' }}

		float angle = degree_6 * float(ii);
		float x = 0.85 * cosf(angle);
		float y = 0.85 * sinf(angle);
		glVertex2d(cx + x, cy + y);
		x = 0.9 * cosf(angle);
		y = 0.9 * sinf(angle);
		glVertex2d(cx + x, cy + y);
	{{ '}' }}

	glEnd();
{{ '}' }}

void drawHourHand(int ii) {{ '{' }}

	glBegin(GL_TRIANGLES);
	glColor3f(0,0,1); // Blue

	float angle = degree_6 * float(ii) * 5;
	float angle1 = angle;
	float x1 = 0.7 * cosf(angle1);
	float y1 = 0.7 * sinf(angle1);
	glVertex2f( x1, -y1 );

	float angle2 = angle + 90;
	float x2 = 0.03 * cosf(angle2);
	float y2 = 0.03 * sinf(angle2);
	glVertex2f( x2, -y2 );

	float angle3 = angle - 90;
	float x3 = 0.03 * cosf(angle3);
	float y3 = 0.03 * sinf(angle3);
	glVertex2f( x3, -y3 );

	glEnd();

{{ '}' }}

void drawMinuteHand(int ii) {{ '{' }}

	glBegin(GL_TRIANGLES);
	glColor3f(0,1,1); //Green

	float angle = degree_6 * float(ii);
	float angle1 = angle;
	float x1 = 0.8 * cosf(angle1);
	float y1 = 0.8 * sinf(angle1);
	glVertex2f( x1, -y1 );

	float angle2 = angle + 90;
	float x2 = 0.03 * cosf(angle2);
	float y2 = 0.03 * sinf(angle2);
	glVertex2f( x2, -y2 );

	float angle3 = angle - 90;
	float x3 = 0.03 * cosf(angle3);
	float y3 = 0.03 * sinf(angle3);
	glVertex2f( x3, -y3 );

	glEnd();

{{ '}' }}

void rotateLine(int value) {{ '{' }}

	// Minutes
	mm += 1;
	if(mm &gt; 60) {{ '{' }} // circle divide into 60 parts
		mm = 0.0;
	{{ '}' }}

	//Hours
	m5 += 1;
	if(m5 &gt; 300) {{ '{' }} // hour hand moves for every 5mins = 60 moves * 5 rounds = 300
		hh += 1;
		m5 = 0.0;
	{{ '}' }}
	glutPostRedisplay();
{{ '}' }}


 void display()
{{ '{' }}
    glClear(GL_COLOR_BUFFER_BIT);

	// clock
	DrawCircle(0, 0, r, 200);
	drawMinuteMarks(0, 0);
	drawHourMarks(0, 0, r);

	// hand moving
	drawMinuteHand(mm); // Minutes hand
	drawHourHand(hh); // Hours hand

//	glutTimerFunc(60000, rotateLine, 10); // calculate for every 1 minute as question
	glutTimerFunc(300, rotateLine, 10); // calculate for every 300 ms for testing

    glutSwapBuffers();
{{ '}' }}


 int main(int agrs, char **args) {{ '{' }}

	glutInit(&agrs, args);
	glutInitDisplayMode(GLUT_DOUBLE | GLUT_RGB);
	glutInitWindowSize(650, 650);
    glutInitWindowPosition(0, 0);
    glutCreateWindow("SC539 Assignment 07 CSC2027");
	glClearColor(0, 0, 0, 0);

	glutDisplayFunc(display);

	glutMainLoop();
	return 0;
{{ '}' }}
	


          		 </code></pre>
					<img src="/assets/img/articles/clock.gif"  alt="OpenGL clock" width="40%" >
				</div>
			</div>
		</div>
	</div>
</div>
<app-send-email [articleTitle]="articleEleven.title"></app-send-email>