/* You can add global styles to this file, and also import other style files */
body, html {
  overflow-x: hidden;
   height: 100%;
   margin: 0;
   font-family: Georgia, serif;
}
.article-code {
	background-color: #e5e5e5;
	color: #000000;
}
.article-icon {
	color: black;
}
.article-content{
	color: black;	
}