/* You can add global styles to this file, and also import other style files */
body, html {
  overflow-x: hidden;
   height: 100%;
   margin: 0;
   font-family: Georgia, serif;
}
.article-code {
	background-color: #e5e5e5;
	color: #000000;
}
.article-icon {
	color: black;
}
.article-content{
	color: black;	
}

.loading-img {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(assets/img/loading.png) center no-repeat #fff;
}