<div class="article-content">
  <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
        	<div class="card-deck">
			  <div class="card shadow p-3 mb-5 bg-white rounded">
			    <img class="card-img-top" src="\assets\img\articles\jersy.png" alt="Jersy logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/jersey_example" > Jersey REST Hello World Example.</a></p>
			    </div>
			  </div>
			  <div class="card shadow p-3 mb-5 bg-white rounded">
			    <img class="card-img-top" src="\assets\img\articles\spring.png" alt="Spring logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/spring_mvc_boot" > Spring MVC & Spring Boot.</a></p>
			    </div>
			  </div>
			  <div class="card shadow p-3 mb-5 bg-white rounded">
			    <img class="card-img-top" src="\assets\img\articles\docker.png" alt="Docker logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/introduction_to_docker" > Containerization and Docker. </a></p>
			    </div>
			  </div>	
			  <div class="card shadow p-3 mb-5 bg-white rounded">
			    <img class="card-img-top" src="\assets\img\articles\php.png" alt="PHP logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/lamp_and_codeigniter"> LAMP and CodeIgniter. </a></p>
			    </div>
			  </div>			  		  
			</div>			
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
        	<div class="card-deck">
			  <div class="card shadow p-3 mb-5 bg-white rounded col-lg-3">
			    <img class="card-img-top" src="\assets\img\articles\php.png" alt="PHP logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/php_login_example" > PHP login example.</a></p>
			    </div>
			  </div>
			  <div class="card shadow p-3 mb-5 bg-white rounded col-lg-3">
			    <img class="card-img-top" src="\assets\img\articles\java.png" alt="Java logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/design_patterns_java" > Java Design Patterns.</a></p>
			    </div>
			  </div>
			  <div class="card shadow p-3 mb-5 bg-white rounded col-lg-3">
			    <img class="card-img-top" src="\assets\img\articles\uml.png" alt="UML logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/uml" > UML 2.5.1</a></p>
			    </div>
			  </div>
			  <div class="card shadow p-3 mb-5 bg-white rounded col-lg-3">
			    <img class="card-img-top" src="\assets\img\articles\php.png" alt="PHP logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/codeigniter_and_php_session" > CodeIgniter Session Library.</a></p>
			    </div>
			  </div>		  		  		  
			</div>			
        </div>
      </div>
  </div>
</div>