<div class="article-content">
  <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-1">
        	<div class="card-deck">
			  <div class="card card-border-home">
			    <img class="card-img-top" src="\assets\img\articles\jersy.png" alt="Jersy logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/jersey_example" > Jersey REST Hello World Example</a></p>
			    </div>
			  </div>
			  <div class="card card-border-home">
			    <img class="card-img-top" src="\assets\img\articles\spring.png" alt="Spring logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/spring_mvc_boot" > Introduction to Spring MVC & Spring Boot</a></p>
			    </div>
			  </div>
			  <div class="card card-border-home">
			    <img class="card-img-top" src="\assets\img\articles\docker.png" alt="Docker logo">
			    <div class="card-body card-home">
			      <p class="card-text card-font-home"><a routerLink = "/introduction_to_docker" > Introduction to Containerization and Docker </a></p>
			    </div>
			  </div>
			</div>
        </div>
      </div>
  </div>
</div>